.taskHolder {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
button {
  background-color: #1c1c61;
  color: white;
  border: 1px solid #1c1c61;
  padding: 10px;
}
.taskCreateForm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.taskUpdateForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.taskUpdateForm  input, .taskUpdateForm select {
  padding: 10px;
}